<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd  
						http://cxf.apache.org/jaxrs 
  						http://cxf.apache.org/schemas/jaxrs.xsd
						http://cxf.apache.org/jaxws						
						http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<context:component-scan
		base-package="com.excilys.projet.banque.webservice.dto.converter" />
	<context:component-scan base-package="com.excilys.projet.banque.webservice.dto" />

	<bean id="soapServ" class="com.excilys.projet.banque.webservice.SoapService" />

	<jaxws:endpoint id="soapService" implementor="#soapServ"
		address="/ss" />

	<!-- Client -->
	<jaxws:client id="soapClient"
		serviceClass="com.excilys.projet.banque.webservice.IWService" address="http://localhost:8080/projet-banque-webservice/" />


	<!-- Chargement du fichier de propriétés -->
	<bean id="propertyPlaceHolder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:/context/projet-banque-webservice.properties" />
	</bean>

	<!-- A mettre en dans un fichier xml à part -->
	<bean id="conversionService"
		class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<ref bean="carteConverter" />
				<ref bean="clientConverter" />
				<ref bean="compteConverter" />
				<ref bean="typeConverter" />
				<ref bean="typeCarteConverter" />
				<ref bean="etatOperationConverter" />
				<ref bean="operationConverter" />
			</list>
		</property>
	</bean>

	<!-- A mettre en dans un fichier xml à part -->
	<jaxrs:server id="restServer" address="/rs">
		<jaxrs:serviceBeans>
			<ref bean="restService" />
		</jaxrs:serviceBeans>
	</jaxrs:server>

	<!-- Chargement des fichiers du context web -->
	<import resource="projet-banque-webservice-*.xml" />

</beans>
