body {
	padding: 0;
	margin: 0;
	font-family: Verdana;
	font-size: 14px;
}


/******************/
/**** GENERICS ****/
/******************/

/* Titles */
h1 {
	font-size: 20px;
	text-align: center;
	padding: 12px 0 0 0;	
}
h2 {
	font-size: 16px;
	padding: 0;
	margin: 4px;
}
h3 {
	font-size: 14px;
	padding: 0;
	margin: 4px 0;
}

/* Texts */
p {
	margin: 5px;
}

/* Images */
img {
	border: none;auto
}

/* Links */
a {
	text-decoration: none;
	color: #444;
	font-weight: bold;
}

/* Messages */
ul#messages {
	margin: 0 0 6px 0;
	padding: 0;
	list-style-type: none;	
}
ul#messages li {
	padding: 0 0 0 20px;
}
ul#messages li.error {
	background: url('../images/error.png') left center no-repeat;
}
ul#messages li.warning {
	background: url('../images/warning.png') left center no-repeat;
}
ul#messages li.ok {
	background: url('../images/ok.png') left center no-repeat;
}

/* Forms */
form .row {
	clear: both;
	margin: 3px 0;
}
form label {
	float: left;
	width: 150px;
	color: #444;
}
form input.input {
	width: 200px;
	background: #ffffbf;
	color: #444;
}
form .buttons {
	text-align: center;
}

/* Tables */
table {
	border-spacing: 1px;
	background: #e7e7e7;
	width: 100%;
}
table tr { 
	height: 24px;
}
table td {
	padding: 4px;
}
table td.empty {
	text-align: center;
	color: #666;
}

table thead tr {
	background: #f0f0f0;
	border-top: 1px #999 solid;
	border-bottom: 1px #fff solid;
	color: #666;
}

table tbody tr.line0 {
	background: #f9f9f9;
}
table tbody tr.line1 {
	background: #fff;
	border-top: 1px #fff solid;
}

table tfoot tr td {
	border-top: 1px #bbb solid;
}

/* Utils */
.clearer {
	clear: both;
}
.box {
	background: #fff;
	border: 1px #ccc solid;
	padding: 10px;
	margin: 0 auto;
	width: 600px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.separator {
	display: block;
	height: 10px;
}
.width-25 {
	width: 25%;
}
.width-50 {
	width: 50%;	
}
.width-75 {
	width: 75%;	
}
.width-300 {
	width: 300px;
}
.width-400 {
	width: 400px;
}
.width-500 {
	width: 500px;
}
.width-600 {
	width: 600px;
}
.width-700 {
	width: 700px;
}
.width-800 {
	width: 800px;
}
.width-auto {
	width: auto;
}
.decouvert {
	color: #e00;
}
.error {
	color: #e00;
}
.warning {
	color: #FFAD1F;
}
.info {
	color: #0F8F08;
}


/*******************/
/**** CONTAINER ****/
/*******************/
#container {
	width: 100%;
}


/****************/
/**** HEADER ****/
/****************/
#header #logo {
	float: left;
	margin: 2px;
}

/********************/
/**** SUB HEADER ****/
/********************/
#sub-header {
	padding: 0 5px;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	background: #def;
	color: #777;
	font-size: 13px;
	height: 28px;
}
#sub-header #home {
	float: right;
	line-height: 28px; 
}


/**************/
/**** MENU ****/
/**************/
#menu {
	float: left;
	margin: 0;
	padding: 0;
	height: 100%;
}
#menu .item {
	float: left;
	display: block;
	font-size: 1.05em;
	text-align: center;
	border-right: 1px solid #ccc;
}
#menu .item.first {
	border-left: 1px solid #ccc;
}
#menu .item.selected {
	background: #EFF7FF;
	line-height: 29px;
	border-bottom: none;
}
#menu .item a {
	display: block;
	width: 130px;
	height: 28px;
	line-height: 28px;
	margin: 0;
	padding: 0;
}
#menu .item a:hover {
	background: #CFE7FF;
}


/**************/
/**** BODY ****/
/**************/
#body {
	padding: 10px 0 10px 0;
	background: #eff7ff;
}
#body #content {
	padding: 0 10px;
}


/****************/
/**** FOOTER ****/
/****************/
#footer {
	padding: 3px 5px;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	text-align: center;
	background: #def;
	color: #777;
	font-size: 11px;
}
#footer #w3c {
	margin: 3px 0 0 0;
	text-align: center;
}