<?xml version="1.0" encoding="UTF-8"?>
<!-- - Contexte d'application pour spring-mvc-webapp. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- - Tous les contrôleurs sont automatiquement détectés grâce à l'annotation 
		@Controller. - On définit ici dans quel package le post processor doit chercher 
		ces beans éventuellement annotés. -->
	<context:component-scan base-package="com.excilys.projet.banque.web.controller" />

	<!-- - Les controlleurs de cette application fournissent une annotation 
		@RequestMapping - Qui peuvent être déclaré de deux manière différentes : 
		- Au niveau de la classe par exemple : - @RequestMapping("/addVisit.html") 
		- Pour ce type de controlleurs on peut annoter les méthodes pour qu'elles 
		- prennent en charge une requête Post ou une requête Get - @RequestMapping(method 
		= RequestMethod.GET) - Ou alors au niveau de chaque méthode -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	
	<!-- Ceci est le view resolver, il permet de définir la technologie de vue 
		utilisée et comment sélectionner une vue. Ici on utilisera le moteur de template Tiles
		le nom retourné par les controlleur sera alors le nom du template à utiliser -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.tiles2.TilesViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView" />
		
		<!-- Ajoute un attribut de nom "menuFilter" contenant une instance de MenuManager.
		Cela permet d'avoir acces à ce bean sur les pages JSP sans avoir à l'ajouter manuellement -->
		<property name="attributesMap">
			<map>
				<entry key="menu" >
					<ref bean="menuManager" />
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/template/template.xml</value>
				<value>/WEB-INF/template/template-error.xml</value>
			</list>
		</property>
	</bean>
</beans>