<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				        http://www.springframework.org/schema/context 
				        http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<http>
		<intercept-url pattern="/pages/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/pages/private/**" access="ROLE_USER" />

		<intercept-url pattern="/**" filters="none" />

		<form-login login-page="/pages/login.jsp" default-target-url="/pages/private/resume.jsp" authentication-success-handler-ref="roleAuthenticationHandler" />
		<logout logout-success-url="/" />
		
<!--		<session-management>-->
<!--			<concurrency-control max-sessions="1" expired-url="/login.jsp" />-->
<!--		</session-management>-->
	</http>


	<authentication-manager>
		<!-- Connexion utilisateur -->
		<authentication-provider>
			<password-encoder hash="plaintext" />
			
			<jdbc-user-service id="auth" data-source-ref="dataSource" 
						users-by-username-query="SELECT id_fk AS username, password, true AS enabled FROM auth WHERE id_fk = ?" 
						authorities-by-username-query="SELECT id_fk AS username, 'USER' AS authority FROM auth WHERE id_fk = ?" 
						role-prefix="ROLE_" />
		</authentication-provider>
		
		<!-- Connexion administrateur -->
		<authentication-provider>
			<password-encoder hash="plaintext" />
			
			<jdbc-user-service id="admin" data-source-ref="dataSource" 
						users-by-username-query="SELECT login AS username, password, true AS enabled FROM admin WHERE login = ?" 
						authorities-by-username-query="SELECT login AS username, 'ADMIN' AS authority FROM admin WHERE login = ?" 
						role-prefix="ROLE_" />
		</authentication-provider>
	</authentication-manager>
	

	<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url" value="jdbc:mysql://localhost/banqueBDD" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="toor" />
	</beans:bean>
	
	<beans:bean id="roleAuthenticationHandler" class="com.excilys.projet.banque.web.handler.RoleAuthenticationSuccessHandler"></beans:bean>
</beans:beans>
