<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	
	<!-- Chargement du fichier de propriétés -->
	<bean id="propertyPlaceHolder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:/context/projet-banque-web.properties" />
	</bean>
	
	
	<!-- Chargement des fichiers du context web -->
	<import resource="projet-banque-web-*.xml"/> 
	 
	<!-- Chargement d'un bean PostProcessor pour les configurations plus fines -->
	<bean id="postProcessor" class="com.excilys.projet.banque.web.PostProcessor"></bean>
</beans>
